service: lonnsom-tracker

provider:
  name: aws
  runtime: nodejs24.x
  stage: ${opt:stage, 'dev'}
  region: ${opt:region, 'us-east-1'}
  environment:
    USERS_TABLE: 'journal-users'
    NOTES_TABLE: 'journal-notess'
  iam:
    role:
      statements:
        - Effect: Allow
          Action:
            - dynamodb:Query
            - dynamodb:Scan
            - dynamodb:GetItem
            - dynamodb:PutItem
            - dynamodb:UpdateItem
            - dynamodb:DeleteItem
          Resource:
            - arn:aws:dynamodb:${self:provider.region}:*:table/journal-users
            - arn:aws:dynamodb:${self:provider.region}:*:table/journal-users/index/*
            - arn:aws:dynamodb:${self:provider.region}:*:table/${self:provider.environment.NOTES_TABLE}/index/*
            - arn:aws:dynamodb:${self:provider.region}:*:table/${self:provider.environment.NOTES_TABLE}

build:
  esbuild:
    bundle: true
    minify: false
    sourcemap: true
    target: es2022
    exclude:
      - '@aws-sdk/*'


functions:
  api:
    handler: src/apiHandler.handler
    memorySize: 256
    timeout: 10
    events:
      - httpApi: '*'

plugins:
   - serverless-prune-plugin

custom:
  prune:
    automatic: true
    number: 3