service: lonnsom-tracker

provider:
  name: aws
  runtime: nodejs24.x
  stage: ${opt:stage, 'dev'}
  region: ${opt:region, 'us-east-1'}
  environment:
    USERS_TABLE: 'journal-users'
  iam:
    role:
      statements:
        - Effect: Allow
          Action:
            - dynamodb:Query
            - dynamodb:Scan
            - dynamodb:GetItem
            - dynamodb:PutItem
            - dynamodb:UpdateItem
            - dynamodb:DeleteItem
          Resource:
            - arn:aws:dynamodb:${self:provider.region}:*:table/journal-users
            - arn:aws:dynamodb:${self:provider.region}:*:table/journal-users/index/*

build:
  esbuild:
    bundle: true
    minify: false
    sourcemap: true
    target: es2022
    exclude:
      - '@aws-sdk/*'


functions:
  users:
    handler: src/users/usersHandler.handler
    memorySize: 256
    timeout: 10
    events:
      - http:
          path: users
          method: post
          cors: true
      - http:
          path: users
          method: get
          cors: true
      - http:
          path: users/{id}
          method: get
          cors: true
      - http:
          path: users/{id}
          method: put
          cors: true
      - http:
          path: users/{id}
          method: delete
          cors: true
      - http:
          path: users/email/{email}
          method: get
          cors: true
          request:
            parameters:
              paths:
                email: true